
#img{

    display: flex;
    padding-top: 20px;
    padding-left: 100px;
}

#main{

     display: flex;
     box-shadow: 0px 0.1px rgb(95, 70, 70);

}

#value{

     display: flex;
     padding-left: 500px;
     align-items: end;
     width: 450px;
     justify-content: space-between;
}

#img-2{

      display: flex;
      padding-left: 300px;
      padding-top: 100px;
}

#foot{
       
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 50px;
}

button{

      background-color: #387ed1;
      height: 40px;
      width: 150px;
      color: white;
      border: 0px;
}

#text{

     display: flex;
     justify-content: space-between;
     padding-top: 200px;
}

ul{

    display: flex;
    /* justify-content: space-between; */
    gap: 55px;
}

li{
     padding-bottom: 10px;
}

div img{
        
       display: flex;
       align-items: end;
}

#bottom{

       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 100px;
       border: 0px;
}

#img-3{

      display: flex;
      justify-content: center;
}

p{
    text-align: center;
    padding-bottom: 30px;
}

p a{
     padding: 30px;
     text-decoration: none;
}


#main-1{

       display: flex;
       width: 85vw;
       justify-content: space-between;
       /* margin-inline: auto; */
       margin-left: auto;
       margin-right: auto;
}

#sub-left{

      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      
}

#sub-right{

     border: 1px solid black;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-inline: 40px;
     padding-top: 20px;
    
}


#right{

      display: flex;

}

#boot{

     display: flex;
     flex-direction: column;
     align-items: center;margin-top: 140px;


}
